<div class="sidebar-badges" style="
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  padding: 10px;
">
 <!-- pjpt -->
  <a href="https://certified.tcm-sec.com/a7768971-e641-4458-9f02-71694e2ada7c?key=6eaaf0cc2ac5d83c856149eb231d27f9793cede868487aaeec454823d21fee9b#acc.gFoCZPmS" target="_blank" rel="noopener">
    <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/183813001?key=6eaaf0cc2ac5d83c856149eb231d27f9793cede868487aaeec454823d21fee9b" alt="TCM" style="max-width: 80px; height: auto;">
  </a>
 <!-- oscp+ -->
  <a href="https://credentials.offsec.com/1eaf51da-5b2b-42b1-ae70-2170da39c23b#acc.wNfEpRC1" target="_blank" rel="noopener">
    <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/191699323" alt="OffSec Certification" style="max-width: 80px; height: auto;">
  </a>
<!-- oscp -->
  <a href="https://credentials.offsec.com/eb5dd102-dda6-41bb-839b-ca331e92177f#acc.DbF1fr5t" target="_blank" rel="noopener">
    <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/191699420" alt="OffSec Certification" style="max-width: 80px; height: auto;">
  </a>
 <!-- cissp -->
  <a href="https://www.credly.com/badges/4b263265-8236-4a85-9b2c-5039e278cb73/public_url" target="_blank" rel="noopener">
    <img src="/images/certs/cissp.png" alt="CISSP Certification" style="max-width: 80px; height: auto;">
  </a>
</div>